#this file lists some definitons of ignored files, which will not be tracked by GIT

*.o
*.o.d
*.elf
*.hex
*.map
*.log
*.inx
*.xlsx
*.pdf
*.docx
*.bak
*.old
*.tmp
*.p1
*.pre
*.lst
*.mum
*.rlf
*.sym
*.sdb
*.obj
*.hxl
*.cmf
*.d
*.pre

memoryfile.xml
Makefile*.mk
Makefile*.properties
Package*.bash
*.X/nbproject/private/
*.X/default/
*.X/dist/
*.X/default/debug/
*.X/default/production/
*.X/default/production/mcc_generated_files
*.X/default/debug/mcc_generated_files
*.X/build
*.X/debug/default/
*.X/MCC_config_old

*.properties
build/
dist/
Doc/__Previews/
Doc/History/CIP_1.~(1).SchDoc.Zip
Doc/History/
